<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Home Page</title>
</head>
<body>
    <div class="header">
        <div class="left-header">
            <div class="CPU-logo"><a href="#"><img src="../static/images/cpu-seal.png" height="60" width="60"/></a></div>
            <div class="CPU-logo-name"><a href="#">Central Philippine University</a></div>
        </div>
        <div class="right-header">
            <div class="CPU-log-in"><a  href= "/login">Log In</a></div>
            <div class="CPU-log-in-logo" ><a  href= "/login"><img src="../static/images/login.png" height="32" width="32"/></a></div>
        </div>
    </div>

    <div class="wrapper">
        <div class="search_input">
            <input type="text" placeholder="Type to search..">
            <div class="concept">
                <li>concept1</li>
                <li>concept2</li>
                <li>concept3</li>
            </div>
            <div class="icon"><a href="/results"><i class="fas fa-search"></i></a></div>
        </div>
    </div>

    <div class="Bottom-Tab">
        <div class="Help">How Search Works</div>
        <div class="Settings">Settings</div>
    </div>

    <script src="../static/js/homescript.js"></script>

</body>
</html>