<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Profile</title>
  <link rel="stylesheet" href="../static/css/student-profile.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <header>Student Profile</header>
    <header class="name">Student name - College</header> <!--student name & college-->
    <header class="list">Saved List</header>

    <table class="table">
      <thead> <!--Table head-->
          <tr>
              <th>Thesis Title</th> 
              <th>Author</th> 
              <th>Date Published</th>
          </tr>
      </thead>
      <tbody> <!--Table body-->
          <tr>
              <td data-label="Title">Online Thesis Library</td> <!---Title from input-box upload page(updated))-->
              <td data-label="Author">Jayson Carganillo, Edcel Recio, BJ Abordo</td> <!---Author from input-box upload page(updated))-->
              <td data-label="Date Published">03-25-2021</td> <!--Date Published-->                
          </tr>
      </tbody>
  </table>
  


    <form action="#">
      <div class="dbl-field">
        <div class="field">
          <input type="text" name="name" placeholder="Enter your name"> <!--Student Name Input-->
          <i class='fas fa-user'></i>
        </div>
        <div class="field">
          <input type="text" name="email" placeholder="Enter your email"> <!--Student Email Input (email where the student expects the admin to email back)-->
          <i class='fas fa-envelope'></i>
        </div>
      </div>
      <div class="message">
        <textarea placeholder=" Add Document Description(title,author,date published)" name="message"></textarea> <!--Document Request Message-->
        <i class="material-icons">message</i>
      </div>
      <div class="button-area">
        <button type="submit">Send Request</button> <!--Button to send to admin email-->
        <span></span>
      </div>
    </form>
  </div>

</body>
</html>